body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   height: 100vh;
   font-family: 'Work Sans', sans-serif;
   background-image: url("../images/blueAbstractBackground.png");
}

